{% extends 'base.html' %}
{% block title %}{{ chat.title }} - PlayTRPG{% endblock %}
{% block header %}
    <h1>{{ chat.title }}</h1>
    <a href="/">⇐ Home</a>
{% endblock %}
{% block main %}

    <article id="need-password">
        {% if wrong_password %}<strong>密码错误，请重新输入</strong>{% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <label for="password">Password: </label>
            <input id="password" type="password" name="password">
            <input type="submit">
        </form>
    </article>
{% endblock %}
