{% extends 'base.html' %}
{% load staticfiles %}
{% load cache %}
{% load chat %}

{% block title %}{{ chat.title }} - Mythal Archive{% endblock %}

{% block header %}

{% cache TTL 'chat-header' chat.id tag search reverse chat.modified %}
<a class="back-index" href="{% url 'index' %}">Mythal Archives</a>
<h1><a href="{% url 'chat' chat.id %}">{{ chat.title }}</a></h1>
{% if chat.description %}
    <section class="description">
        {{ chat.description|linebreaks }}
    </section>
{% endif %}
{% endcache %}
{% endblock %}

{% block main %}
{% cache TTL 'chat-page' chat.id chat.modified tag search page_number reverse %}
{% cache TTL 'tools' chat.id chat.modified tag search page_number reverse %}
<aside class="tools">
    {% if tag %}<p class="filter">Tag: {{ tag.name }} (<a href="?{% url_replace 'tag' '' %}">clear</a>)</p>{% endif %}
    {% if search %}<p class="filter">Search: {{ search }} (<a href="?{% url_replace 'search' '' %}">clear</a>)</p>{% endif %}
    <p class="filter">{% if reverse %}Newest First (<a href="?{% url_replace 'reverse' '0' %}">reverse</a>){% else %}Oldest First (<a href="?{% url_replace 'reverse' '1' %}">reverse</a>)</p>{% endif %}
    <form class="search" action="" method="get">
        {{ form }}
        <input type="submit" value="Search">
    </form>
    <section class="export">
        <h2>Export</h2>
        <ul>
            <li><a href="{% url 'export' chat.id chat.title 'json' %}">JSON</a></li>
            <li><a href="{% url 'export' chat.id chat.title 'csv' %}">CSV</a></li>
        </ul>
    </section>
    <section class="tag-list">
        <ul>
        {% for tag in tag_list %}
            <li>#<a href="?tag={{ tag.id }}">{{ tag.name }}</a></li>
        {% endfor %}
        </ul>
    </section>
</aside>
{% endcache %}

<article class="log-list">
    <header>
        <h2>Log</h2>
    </header>
    {% for log in log_list %}
    {% cache TTL 'log' log.id log.modified %}
    <section class="log {% if log.gm %} gm-log{% endif %}" id="message-{{ log.message_id }}">
        {% if log.media %}<section class="media">
                <a href="{{ log.media.url }}" class="photo"><img alt="Photo" src="{{ log.media.url }}"></a>
        </section>{% endif %}
        {% if log.reply %}
            <section class="reply-to">
                {% include "log.html" with log=log.reply %}
            </section>
        {% endif %}
        {% include "log.html" with log=log %}
        <aside class="meta">
            <time class="date" datetime="{{ log.created|date:"c" }}">{{ log.created|date:'y-m-d H:i:s' }}</time>
            <span class="tags">{% for tag in log.tag.all %}<a class="tag" href="?tag={{ tag.id }}">#{{ tag.name }}</a>{% endfor %}</span>
        </aside>
    </section>
    {% endcache %}
    {% endfor %}
<footer class="pagination">
    {% if log_list.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ log_list.previous_page_number }}">&lsaquo; previous</a>
    {% endif %}

    <span class="current">
        Page {{ log_list.number }} of {{ log_list.paginator.num_pages }}.
    </span>

    {% if log_list.has_next %}
        <a href="?{% url_replace 'page' log_list.next_page_number %}">next &rsaquo;</a>
        <a href="?{% url_replace 'page' log_list.paginator.num_pages %}">last &raquo;</a>
    {% endif %}
</footer>
</article>
<script src="{% static 'chat.js' %}"></script>

{% endcache %}
{% endblock %}