{% extends 'base.html' %}
{% load staticfiles %}
{% load cache %}
{% load chat %}

{% block title %}{{ chat.title }} - Mythal Archive{% endblock %}

{% block header %}

{% cache TTL 'chat-header' chat.id tag search reverse chat.modified %}
<a class="back-index" href="{% url 'index' %}">Mythal Archives</a>
<h1><a href="{% url 'chat' chat.id %}">{{ chat.title }}</a></h1>
{% if chat.description %}
    <section class="description">
        {{ chat.description|linebreaks }}
    </section>
{% endif %}
{% if tag %}<p class="filter">Tag: {{ tag.name }} (<a href="?{% url_replace 'tag' '' %}">clear</a>)</p>{% endif %}
{% if search %}<p class="filter">Search: {{ search }} (<a href="?{% url_replace 'search' '' %}">clear</a>)</p>{% endif %}
<p class="filter">{% if reverse %}Newest First (<a href="?{% url_replace 'reverse' '0' %}">reverse</a>){% else %}Oldest First (<a href="?{% url_replace 'reverse' '1' %}">reverse</a>)</p>{% endif %}
{% endcache %}
{% endblock %}

{% block main %}
{% cache TTL 'chat-page' chat.id chat.modified tag search page_number reverse %}
{% cache TTL 'tools' chat.id %}
<aside class="tools">
    <form class="search" action="" method="get">
        {{ form }}
        <input type="submit" value="Search">
    </form>
    <section class="export">
        <h2>Export</h2>
        <ul>
            <li><a href="{% url 'export' chat.id chat.title 'json' %}">JSON</a></li>
            <li><a href="{% url 'export' chat.id chat.title 'csv' %}">CSV</a></li>
        </ul>
    </section>
    <section class="tag-list">
        <ul>
        {% for tag in tag_list %}
            <li>#<a href="?tag={{ tag.id }}">{{ tag.name }}</a></li>
        {% endfor %}
        </ul>
    </section>
</aside>
{% endcache %}

<article class="log-list">
    <header>
        <h2>Log</h2>
    </header>
    {% for log in log_list %}
    {% cache TTL 'log' log.id log.modified %}
    {% with kind=log.get_kind_display %}
    <section class="log kind-{{ kind | lower }}{% if log.gm %} gm-log{% endif %}" id="message-{{ log.message_id }}">
        {% if log.media %}<section class="media">
                <a href="{{ log.media.url }}" class="photo"><img alt="Photo" src="{{ log.media.url }}"></a>
        </section>{% endif %}
        <section class="content">
            {% if log.reply %}
                <section class="reply-to">
                    <a href="#message-{{ log.reply.message_id }}" title="{{ log.reply.content | striptags }}" class="reply-to-link">Reply to</a>
                    <strong class="reply-to-speaker">{{ log.reply.temp_character_name|default:log.reply.character_name }}</strong>
                    {{ log.reply|log_entities|safe }}
                </section>
            {% endif %}
            <strong class="speaker">{{ log.temp_character_name|default:log.character_name }}</strong>

            {% if kind == 'NORMAL' or kind == 'ME' %}
                {{ log |log_entities|safe }}
            {% elif kind == 'HIDE_DICE' %}
                <span class="hidden-roll">[Hided]</span>
            {% elif kind == 'ROLL' %}
                {{ log|log_entities|safe }}
            {% else %}
                <span class="unknown-record">[Unknown]</span>
            {% endif %}
        </section>
        <aside class="meta">
            <time class="date" datetime="{{ log.created|date:"c" }}">{{ log.created|date:'y-m-d H:i:s' }}</time>
            <span class="tags">{% for tag in log.tag.all %}<a class="tag" href="?tag={{ tag.id }}">#{{ tag.name }}</a>{% endfor %}</span>
        </aside>
    </section>
    {% endwith %}
    {% endcache %}
    {% endfor %}
<footer class="pagination">
{% if log_list.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ log_list.previous_page_number }}">&lsaquo; previous</a>
{% endif %}

<span class="current">
    Page {{ log_list.number }} of {{ log_list.paginator.num_pages }}.
</span>

{% if log_list.has_next %}
    <a href="?{% url_replace 'page' log_list.next_page_number %}">next &rsaquo;</a>
    <a href="?{% url_replace 'page' log_list.paginator.num_pages %}">last &raquo;</a>
{% endif %}
</footer>
</article>
<script src="{% static 'chat.js' %}"></script>

{% endcache %}
{% endblock %}