{% load chat %}
{% spaceless %}
{% for entity in log.entities %}
    {% if entity.kind == 'span' %}
        <span class="entity-span">{{ entity.value }}</span>
    {% elif entity.kind == 'character' or entity.kind == 'me' %}
        <strong class="entity-character" title="{{ entity.full_name }}">{{ entity.value }}</strong>
    {% elif entity.kind == 'bold' %}
        <strong class="entity-bold">{{ entity.value }}</strong>
    {% elif entity.kind == 'code' %}
        <code class="entity-code">{{ entity.value }}</code>
    {% elif entity.kind == 'roll' %}
        <span class="entity-roll">{{ entity.value }}</span>
    {% elif entity.kind == 'coc-roll' %}
        <span class="entity-coc-roll">
            <span class="result">{{ entity.rolled }}</span>
            <span class="level">{{ entity.level }}</span>
            {% if entity.modifier_name %}
                <span class="modifier-name">{{ entity.modifier_name }}</span>
                <span class="modifier-list">{{ entity.rolled_list }}</span>
            {% endif %}
        </span>
    {% elif entity.kind == 'loop-roll' %}
        <span class="entity-loop-roll">
            <span class="counter">{{ entity.rolled|counter_6 }}/{{ entity.rolled|length }}</span>
            <span class="result">{{ entity.rolled }}</span>
        </span>
    {% else %}
        <span class="entity-unknown">Unknown</span>
    {% endif %}
{% endfor %}
{% endspaceless %}