@charset "UTF-8";
html {
  font-family: "Avenir Next", "Segoe UI", "Helvetica Neue", Arial, "Hiragino Sans GB", "PingFang SC", "Heiti SC", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans", sans-serif;
  font-size: 18px;
  background-color: #FFFFFF;
  color: #111111;
}

body {
  max-width: 40rem;
  padding: 1rem;
}

ul {
  list-style: square;
}

a {
  text-decoration: none;
  color: #098e5b;
}
a:hover {
  color: #0bbe7b;
  background-color: #9cf9d6;
}
a:active {
  color: #0eee9a;
}
a:visited {
  color: #07764c;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Baskerville, "Baskerville Old Face", Georgia, "Times New Roman", serif;
  font-weight: normal;
}

.chat-list {
  padding: 0;
  list-style: none;
}
.chat-list li {
  display: inline-block;
  padding: 0.4em 1em;
}
.chat-list .log-counter {
  font-size: 0.8em;
}

.tools {
  font-size: 0.8em;
}
.tools .search label {
  display: none;
}
.tools .search input {
  height: 1.4rem;
  font-size: 1.2rem;
}
.tools .export h2 {
  display: inline-block;
}
.tools .export ul {
  padding: 0;
  list-style: none;
  display: inline-block;
}
.tools .export ul li {
  display: inline-block;
  font-size: 0.9em;
}

.tag-list ul {
  padding: 0;
  list-style: none;
}
.tag-list li {
  display: inline-block;
  margin-right: 1em;
}

.filter {
  font-size: 0.8rem;
  font-weight: bold;
}

.highlight {
  background-color: #54f5b8;
}

.log {
  margin: 0;
  padding: 0.35em 0;
}
.log .meta {
  color: #919191;
  font-size: 0.7em;
}
.log .meta a {
  color: #0bbe7b;
}
.log .media img {
  max-width: 100%;
  border: solid 1px #CCCCCC;
}
.log .reply-to {
  font-size: 0.75em;
  padding: 0 1em;
  border-left: 0.5em solid #0aa66b;
}
.log .speaker {
  color: #c4c4c4;
  margin-right: 0.25em;
}
.log .speaker::before {
  content: "[";
}
.log .speaker::after {
  content: "]";
}
.log .entity-character {
  margin: 0 0.15em;
}
.log .entity-roll, .log .entity-loop-roll, .log .entity-coc-roll {
  display: inline-block;
  font-family: "Sarasa Mono SC", Iosevka, Consolas, Menlo, Monaco, monospace;
  font-size: 0.9em;
  padding: 0.2em;
  margin: 0 0.2em;
  background-color: #eaeaea;
  border: 1px solid #CCCCCC;
}
.log .entity-loop-roll .counter, .log .entity-loop-roll .level, .log .entity-coc-roll .counter, .log .entity-coc-roll .level {
  font-size: 0.9em;
  padding: 0.1em 0.4em;
  margin: 0.2em 0.2em;
  background-color: #24f2a4;
  border: 1px solid #CCCCCC;
}

.gm-log {
  padding-right: 0.25em;
  border-right: 0.15em solid #0dd68a;
}
.gm-log:hover {
  border-right-color: #0eee9a;
}

.kind-normal .speaker {
  color: #111111 !important;
}
.kind-normal .speaker::after {
  content: ":";
}
.kind-normal .speaker::before {
  content: "";
}

.kind-roll .speaker::before {
  content: "";
}
.kind-roll .speaker::after {
  content: " 🎲";
}

.hidden-roll {
  background-color: #111111;
  color: #eeeeee;
  padding: 0.1em 0.25em;
  font-family: "Sarasa Mono SC", Iosevka, Consolas, Menlo, Monaco, monospace;
}

.pagination {
  margin-top: 2em;
  text-align: center;
}
.pagination a {
  border: 1px solid #CCCCCC;
  padding: 0.2em 0.5em;
}

.page-footer {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #CCCCCC;
  font-size: 80%;
  font-style: italic;
}
.page-footer hr {
  display: none;
}

/*# sourceMappingURL=style.css.map */
