* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    max-width: 50rem;
    margin: 2rem auto;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

img {
    max-width: 100%;
}


code {
    font-family: "Sarasa Mono SC", Iosevka, Menlo, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    padding: 0.2em;
    background: rgb(153, 255, 230);
    border: 1px solid rgb(111, 194, 157);
}

#logs > table {
    width: 100%;
}


.meta {
    width: 12em;
    font-size: 12px;
    text-align: right;
    color: rgb(172, 172, 172);
}

.character {
    min-width: 6rem;
    text-align: right;
}


.gm .character {
    background-color: #6bffdd;
}

.content {
    font-size: 120%;
}

.content b {
    font-style: italic;
    font-weight: bold;
}

body > header {
    text-align: center;
}

body > footer {
    text-align: center;
    font-size: 14px;
}

.highlight {
    background: #a4d8ed;
    transition: 0.5s;
}